
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}





._button{
    padding:14px 39px;
    background: #FCB72B;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    border: 3px solid #FCB72B;
    cursor: pointer;
    display: inline-block;
    transition: all 0.4s ease 0s;
    color: #FFFFFF;
}

._button:hover{
    background: transparent;
    color: #FCB72B;
}

._subtitle {
    font-family:'Lexend Deca';
   
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
   


    color: #939CAA;

}


img{
    max-width:100%;
    
}




.content{
    flex:1 1 auto;
    position: relative;
}
body{
    min-height: 100%;
    line-height: 1;
    
    color: #21243D;
    font-family:Roboto;
    
}

.wrapper {
    position: relative;
    display: flex;
   
    min-height: 100%;
    flex-direction: column;
}





a{
    color:inherit;
    
}


._container{
    max-width:1110px;
    margin:0px auto;
    padding:0px 30px;
    
    
        
}




.header {
    
    position: sticky;
    z-index: 8;
    background: white;
    top: 0px;
   
}
.header__container {
  
}
._container {
}
.header__row {
    position: relative;
    flex-wrap: wrap;
    gap: 60px;
    min-height:96px;
    display: flex;
    align-items: center;
    
}
.header__logo {
}
.header__nav {
    flex: 1 1 auto;
    display: flex;
    gap: 32px;
}
.header__nav__list {
    display: flex;
    gap: 32px;
   
}
.header__nav__list__item {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
   
    position: relative;

    color: #939CAA;

}

.header__nav__list__item::before{
    position: absolute;
    content: '';
    background: #939CAA;
    bottom: 0;
    
    transition: all 0.4s ease 0s;
    width: 0%;
    height: 2px;
}

.header__nav__list__item:hover::before{
    
    width:70%;
}

@media(max-width:704px){
    .header__button ,.header__nav{
        display: none;
    }
    .header__row{
        gap:0px;
        justify-content: center;
        
    }
    .burger__button{
        display: inline-block;
    }
    .header__row{
        
        min-height: 64px;
    }
}

@media(max-width:687px){
    .header__nav{
        justify-content: center;
    }
    .header__row{
        
        justify-content: center;
    }

}
@media(max-width:425px){

    .footer__social{
        padding-top:32px;
        width:100%;
    }
}




/*--------------------Burger---------------*/


.burger__block{
    
    position: fixed;
    content: '';
    background: #333A44;
    height: 100vh;
   
    width: 68.3vw;
    z-index: 7;
}

.burger__content {
    padding:64px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.burger__list__container {
    flex: 1 1 auto;
}
.burger__list {
}
.burger__list__item {
}
.burger__list__button {
    text-align: center;
    margin:24px 0px;
}
._button {
}
